<% if(styling === 'bootstrap') { %>$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';<% } %>

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

<% if(styling !== 'bootstrap') { %>
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0 auto;
  }
}

body{
  margin: 0px;
}
<% } %>

// Component styles are injected through grunt
/* inject:scss */
@import 'app/main.scss';
/* endinject */
