<% if(styling === 'bootstrap') { %>
/**
 * Bootstrap Fonts
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('./bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('./bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('./bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('./bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}<% } %>

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

<% if(styling !== 'bootstrap') { %>
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0 auto;
  }
}

body{
  font-family: Sans-Serif;
  margin: 0px;
}

#banner.h1{
  margin-bottom: 10px;
}

p.lead{
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}
<% } %>
