<% if(styling === 'bootstrap') { %>@import "../bower_components/bootstrap/dist/css/bootstrap.css"
//
// Bootstrap Fonts
//

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
          url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
          url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
          url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
<% } %>

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0
<% if(styling !== 'bootstrap') { %>
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
  .container
    max-width: 730px;
    margin: 0 auto;

body
  font-family: Sans-Serif;
  margin: 0;

#banner.h1
  margin-bottom: 10px;


p.lead
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
<% } %>
// Component styles are injected through grunt
/* inject:styl */
@import "app/main"
/* endinject */
